# carpetas de salida y compilacion
/target/
/out/
/bin/
/build/
*.class

# configuracion de ides (intellij, vscode, eclipse)
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.sts4-cache

# archivos de sistema y ayuda
HELP.md
.mvn/

# Archivos de compilación de Alexis
target/
*.class
